.container {
  padding: 10px 0;
  width: 50%;
  max-width: 500px;
}
.head2 {
  margin: 50px 0;
}
input[type="search"] {
  padding: 5px 10px;
  margin-top: 10px;
  border: 2px solid rgb(168, 168, 168);
  border-radius: 5px;
  outline: none;
  width: 30%;
  max-width: 500px;
}
input[type="search"]:focus {
  border: 2px solid blueviolet !important;
}
.noContact{
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 890px) {
  .container{
    width: 100%;
    padding: 10px 15px;
  }
  input[type="search"] {
    width: 50%;
  }
}
