.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
  background-color: rgb(241, 240, 240);
  border-radius: 5px;
  padding: 10px 20px;
}
.container:hover {
  background-color: rgb(228, 226, 226);
}
.container div {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.expense {
border-right:6px solid red ;
}
.amount{
  max-width: 10ch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.trash {
  vertical-align: bottom;
  font-size: 1.3rem;
  cursor: pointer;
  color: rgb(250, 25, 25);
  transform: translateY(4px);
}

.income {
 border-right: 6px solid  rgba(0, 187, 0, 0.918);

}
.desc {
  width: 10ch;
  text-overflow: ellipsis;
  overflow: hidden !important;
}
