.activeLink {
  color: #fff;
}
.navLink {
  color: rgba(255, 255, 255, 0.6);
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 20px;
  background-color: #2495e6;
}
.container2 {
  display: flex;
  gap: 20px;
}
