.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
}
.container label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}
.container input {
  padding: 5px 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.container input:focus {
  border: 2px solid rgb(0, 201, 201);
}
.container button {
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 15px;
  color: #fff;
  background-color: #0d6efd;
  cursor: pointer;
}
h3 {
  margin: 15px 0 0 0;
}
