.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 30px;
}
.header h3 {
  margin: 0;
}
.header button {
  font-weight: bold;
  cursor: pointer;
  background-color: #6d28d9;
  color: #fff;
  padding: 5px 8px;
  border: 1px solid #6d28d9;
  border-radius: 5px;
}
.cancel {
  background-color: #ef4444 !important;
  border: 1px solid #ef4444 !important;
  color: #fff;
}
.details {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.details div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  width: 45%;
  padding: 10px 10px;
  flex-direction: column;
  align-items: flex-start;
}

.details div h4 {
  color: rgba(0, 0, 0, 0.6);
}
.details div h3 {
  margin: 10px 0 0 0;
}
.details div:nth-of-type(1) h3 {
  color: red;
}
.details div:nth-of-type(2) h3 {
  color: green;
}
.search {
  width: 100% !important;
  padding: 8px 15px;
  background-color: rgb(231, 231, 231);
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 0;
}
