.container {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.container input {
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(110, 3, 209);
}
.container input:focus {
  border: 2px solid rgb(110, 3, 209);
}
.container button {
  cursor: pointer;
  color: #fff;
  border: 1px solid rgb(110, 3, 209);
  border-radius: 3px;
  padding: 5px 10px;
}
.button {
  background-color: rgb(110, 3, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.select {
  width: 120px;
}
