.container {
  margin: 10px auto 0;
  width: 100vw;
  padding: 0 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.addItemMessage{
  width: 70%;
  margin: 10px auto 0;
  text-align: center;
}

@media screen and (max-width:500px) {
}
