.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 50px 0;
}
.container button {
  cursor: pointer;
  background-color: rgb(1, 110, 253);
  color: #fff;
  padding: 7px 11px;
  border: 1px solid rgb(1, 110, 253);
  border-radius: 5px;
  width: 80%;
}
.details {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.details div {
  display: flex;
  align-items: baseline;
  gap: 5px;
  font-size: 14px;
}
.inputs {
  padding: 10px 12px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.inputs:focus {
  border: 2px solid #ccc;
}

@media screen and (max-width:500px) {
  .container{
    margin-top: 10px;
  }
  .inputs{
    padding: 5px 8px;
    margin-bottom: 8px;
    width: 100%;
  }
  .details{
    width: 90%;
  }
  .container button{
    padding: 5px 11px;
    border: 1px solid rgb(1, 110, 253);
    border-radius: 5px;
    width: 50%;
    font-size: 13px;
  }
}
