.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    gap: 15px;
    background-color: rgba(0, 0, 0, .9);
}
.container a{
    color: rgba(255, 255, 255, .7) ;
}
.active_link{
    color: #fff !important;
}